.container {
  padding: 5%;
  background: linear-gradient(
    to bottom,
    var(--background),
    var(--secondary-dark)
  );
  /* color: var(--text-lighter); */
  display: flex;
  align-items: center;
}
.textContainer {
  width: 50%;
  padding-right: 1rem;
}
.imgContainer {
  width: 50%;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.textContainer h1 {
  font-size: 2em;
  color: var(--text);
}
.textContainer p {
  max-width: 55ch;
  color: var(--text-lighter);
}
.description {
  padding: 1rem 0;
}
.stack {
  margin-bottom: 1rem;
}
.stack h1 {
  font-size: 1.5em;
}
.stack ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.stack li {
  margin: 0.5rem 1rem 0.5rem 0;
  position: relative;
}
.stack a {
  color: var(--text-lighter);
}
.stack li::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 1.5rem;
  border-bottom: 1px solid var(--secondary-dark);
  transition: width 0.5s ease;
}
.stack li:hover::after {
  width: 100%;
}
.stack li:hover a {
  color: var(--text);
}

.links {
  padding-right: 1rem;
}
.links button {
  display: inline-flex;
  align-items: center;
  background-color: var(--background-tint);
  color: var(--text-lighter);
  font-size: 1.2em;
  /* font-weight: bold; */
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  box-shadow: 4px 4px 1rem rgba(33, 33, 33, 0.3);
  transition: padding 0.3s ease;
}

.textContainer button:hover {
  padding: 0.5rem 1rem;
}

.image {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 4px 4px 1rem rgba(33, 33, 33, 0.1);
}
@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .textContainer {
    width: 100%;
    padding-right: 0;
  }
  .imgContainer {
    width: 100%;
    padding-left: 0;
  }
}
