.container {
    display: block;
    padding: 5%;
}
.container h1 {
    font-size: 2rem;
    font-weight: bold;
}

.ul {
    display: block;
    width: 100%;
    list-style-type: none;
}
.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: var(--primary); */
    /* flex-direction: row; */
    /* padding: 1rem 0; */
    padding-bottom: 2rem;
}
.left {
    display: block;
    width: 50%;
    /* padding: 0 1rem; */
    padding-right: 1rem;
}
.left p {
    margin-bottom: 1rem;
}
.left h2 {
    font-size: 1.2rem;
}
.left button {
    display: block;
    width: 100%;
    border: 0;
    background-color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.right {
    display: block;
    width: 50%;
    /* padding: 0 1rem; */
    padding-left: 1rem;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
}

.youtube {
    padding: 2rem;
    font-size: 5rem;
    width: 100%;
    display: block;
    text-align: center;
}
.youtube a {
    position:relative;
}
.youtube a:hover::after {
    content: "My youtube Channel!";
    position: absolute;
    top: -30%;
    left: -50%;
    width: 400%;
    font-size: 1rem;
    font-weight: normal;
    color: var(--text);
    font-family: 'Shadows Into Light', cursive;
    opacity: 0.3;
}

.youtube a:hover {
    color: var(--tertiary);
    opacity: 1;
}

@media only screen and (max-width: 500px) {
    .container h1 {
        font-size: 1.8rem;
        font-weight: bold;
    }
    .item {
        flex-direction: column;
    }
    .left {
        width: 100%;
        padding: 0;
    }
    .left h1 {
        font-size: 1.5rem;
        font-weight: normal;
    }
    .right {
        width: 100%;
        padding: 0;
    }
}